{% extends 'main.html' %}

{% block content %}
<style>

table { table-layout: auto; width: 100%; }

td {
    border: 1px solid #000;
}

tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

</style>

<table>
    <tr>        
        <th>Trancription</th>
        <th>Date created</th>

    </tr>
    {% for i in audios%}
    <tr>
        <td>{{i.message}}</td>
        <td>{{i.date_created}}</td>        
        <td><a class="btn btn-sm btn-info" href="{%url 'update_message' i.id %}">Update</a></td><br>
    </tr>
</table>


{%endfor%}


{% endblock %}