{% extends 'main2.html' %}

{% block content %}

<h3 id="form-title">LOGIN</h3>
<form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username...">

    <input type="password" name="password" placeholder="Password...">

    <input class="btn login_btn" type="submit" value="Login">
    </div>
</form>

</div>

{% for message in messages %}
<p id="messages">{{message}}</p>
{% endfor %}


<p>
    on't Have account? <a href="{%url 'register'%}">REGISTER</a>
</p>

{% endblock %}


